$width-left: 220px;
$width-collapse: 70px;

$font-table-size: 14px;
$font-tiny-size: 14px;
$font-small-size: 14px;
$font-middle-size: 16px;
$font-large-size: 18px;
$font-big-size: 20px;

$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;
// element
$--color-primary: #4e7dfe;
$--color-success: #00c800;
$--color-warning: #ffab2c;
$--color-danger: #ff0018;
$--color-info: #98a9bc;
$thead-color: rgba(0, 0, 0, 0.75);
$table-head-color: #fafafa;
$main-back-color: #f0f2f5;
// style
// $color-text: #778ca2;
$color-text: #303133;
$btn-icon-color: #303133;
$color-text-disabled: mix(#778ca2, #fff, 30%);
$color-border: #e8ecef;
$color-main-text: rgba(0, 0, 0, 0.85);
$holiday-color: #ea0c0c;
// sidebar
$menuBg: #fff;
$menuActiveBg: #f8fafb;
$menuText: $color-text;
$menuActiveText: #4e7dfe;
//
$pd-large: 24px;
$pd-middle: 16px;
$pd-small: 6px;
$pd-tiny: 6px;
// 按钮位置
$btn-position: center;

$title-height: 38px;
